$color_1: #333;
$color_2: blue;
$color_3: #ffff;
$font-family_1: 'Nunito', sans-serif;
$background-color_1: rgb(253, 255, 239);
$background-color_2: rgb(243, 253, 168);
$background-color_3: rgb(211, 211, 211);
$background-color_4: #333333;
$background-color_5: #22222222;
$background-color_6: #0b0b0b;


$mobile: 570px;
$tablet: 768px;
$desktop: 1024px;